<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" align="center">
    <tr align="center">
        <th>Name</th>
        <th>Unit Cost</th>
        <th>quantity</th>
        <th>Price</th>
    </tr>
    <tr align="center">
        <td>{{a}}</td>
        <td>{{d}}</td>
        <td>{{b}}</td>
        <td>{{c}}</td>
    </tr>

</table>
<div>
    <center>
   <a href="http://127.0.0.1:8000/END/" class="btn btn-success">SUBMIT</a>
        </center>
</div>
</body>
</html>